#loginContainer {
	position: absolute;
	z-index: 99;
	width: 400px !important;
	top: 110px;
	left: 0;
	right: 0;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 10px;
	background-color:rgba(0, 0, 0, 0.3)

}
.formIcon {
	font-size: 1.7em !important;
	opacity: 0.8;
	margin-top:6px;
}
.error {
	margin: -16px 0px 16px 0px !important;
	display: none !important;
}
.error.show {
	display: block !important;
}
#loginInput {
	display: none;
}