.fullWidth {
   width: 100%;
   margin-left: 30px;
   margin-right: 30px;
   max-width: initial;
}
#topBarLogo {
	margin-top: 5px;
	width: 110px;
	height: 45px;
}
#contentArea.contentShow{
	transition: all 0.5s ease;
	padding-right: 0px;
}
#contentArea.contentHide{
	transition: all 0.5s ease;
	padding-right: 225px;
}
#playersRegion{
	position: fixed;
	top: 45px;
	right: 0;
}
#playersRegion.playersShow {
	transition: all 0.5s ease;
	width: 225px;
}
#playersRegion.playersHide {
	transition: all 0.5s ease;
	width: 0px;
}