<link rel="stylesheet" type="text/css" href="../../../css/players.css">
<!-- Begin Chat Box -->
<div class="row" id="chatBox">
  <div class="large-12 columns">
    <div class="row chatHeader">
        <div class="large-12 columns">
          2 PLAYERS ONLINE
        </div>
    </div>
    <div class="row">
      <div class="large-12 columns" id="playerList">
        <div class="row playerTile">
          <div class="large-2 columns">
            <i class="fa fa-circle playerTileStatus"></i>
          </div>
          <div class="large-10 columns">
            John Doe
          </div>
        </div>
         <div class="row playerTile">
          <div class="large-2 columns">
            <i class="fa fa-circle playerTileStatus"></i>
          </div>
          <div class="large-10 columns">
            Mary Jane
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Chat Box -->
<div id="playersDisplayButton" class="playersDisplayHidden">
    <i class="fa fa-users 3x"></i>
</div>
