<link rel="stylesheet" type="text/css" href="../../../css/profile.css">
<!-- Main Page Content and Sidebar -->
<div class="row content">
  <div class="large-3 columns profileInfo">
    <img id="profilePicture" class="profile-image" src="../../../img/placeholder-user.png" />
    <a href="javascript:void(0)" class="button radius" id="profilePictureChange">Change Picture</a>
    <input id="profilePictureChangeInput" type="file" accept="image/*"/>
    <span>Username</span>
    <br>
    <span>Level Progress</span>
    <div class="achievementAccolades">
      Accolades and Achievements
    </div>
  </div>
  <div class="large-9 columns">
    <table id="profileTable" class="display">
      <thead>
          <tr>
              <th colspan="2">Statistics</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Hours Played</td>
              <td>15</td>
          </tr>
          <tr>
              <td>Wins</td>
              <td>10</td>
          </tr>
           <tr>
              <td>Loses</td>
              <td>15</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
<!-- End Main Content and Sidebar -->