<body>
	<header>
		<div class="row fullWidth collapse">
		  <div class="large-12 columns">
		    <img id="home-background" src="assets/img/castle-wallpaper-hd.jpg">
		    <!-- Begin container containing login and Signup -->
		    <div class="row">
		    	<div class="large-12 columns">
		    		<img id="home-logo" src="assets/img/ECS160_CastleWarsLogoWhite.png">
		    		<hr style="padding-top:0;margin-top:0;"><br>
		    		<div class="row" >
		    			<div class="large-12 columns" id="loginRegion">
		    				Login stuff goes here
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <!-- End container containing login and Signup -->
		  </div>
		</div>
	</header>
	<br>
	<br>
	<div id="aboutRegion">
	</div>
	

	<br>
	<br>

	<div class="panel">
	<div class="row">
	  <div class="medium-8 large-8 columns">© Copyright UC Davis 2015 ECS160 Server Group with Professor Nitta</div>
	</div>
	</div>

</body>