.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
#loginContainer {
	position: absolute;
	z-index: 99;
	width: 400px !important;
	top: 75px;
	left: 0;
	right: 0;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 10px;
	background-color:rgba(0, 0, 0, 0.3)

}
.formIcon {
	font-size: 1.7em !important;
	opacity: 0.8;
	margin-top:6px;
}
input.error {
	color: red;
	border: 2px solid red;
	margin: 0 0 1rem 0;
}
small.success {
	display: none;
	margin: -16px 0px 16px 0px !important;
	background-color: rgb(0,120,174) !important;
}
#loginInput {
	display: none;
}
#forgotPasswordA {
	position: absolute;
	margin-top: -9px;
	color: white;
	font-size: 15px;
}
#forgotPasswordA:hover {
	color: gray;
}
#signupButton {
	margin-top: 25px;
}
#loginButton {
	margin-top: 25px;
}