/* General Main CSS */
html,body{
    overflow: auto;
}
body {
    background-color: #f1f1f1;
}
input.error, textarea.error {
    color: red;
    border: 2px solid red;
    margin: 0 0 1rem;
}

/* Top Bar Area CSS */
#topbarRegion{
    display: none;
}
#topBarLogo {
    margin-top: 5px;
    width: 110px;
    height: 45px;
}

/* Content Area CSS */
#contentArea {
    display: none;
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 65px;
    margin-left: 0;
    margin-right: 0;
    max-width: initial;
}
#contentRegion {
    overflow-y: auto;
}
#contentArea.contentShow {
    transition: all .5s ease;
    padding-right: 0;
}
#contentArea.contentHide {
    transition: all .5s ease;
    padding-right: 225px;
}

/* Player List CSS */
#playersRegion {
    display: none;
    position: fixed;
    top: 45px;
    right: 0;
}
#playersRegion.playersShow {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    width: 225px;
}
#playersRegion.playersHide {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    width: 0;
}

/* Two-way box used in templates like profile and leaderboards */
@media (min-width: 0px){
    .twoway-dividedBox {
        background-color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
        box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
        border: 1px solid #E8E8E8; 
    }
}
@media (min-width: 750px){
    .twoway-dividedBox {
        background-color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
        box-shadow: 0 0 15px -9px rgba(0, 0, 0, 1);
        border: 1px solid #E8E8E8;
        min-height: 700px;
    }
}
