#announcement {
    background-color: #fcfcfc;
}
#top-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #E8E8E8;
}
.announcement-inner {
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
}
.announcement-header {
    font-size: 26px;
    color: rgb(0,120,174);
}
.announcement-sub {
    font-size: 18px;
}
.profileInfo-content {
    padding: 10px;
}
.profileInfo-content span {
    display: inline-block;
    font-size: .9em!important;
}
.profileInfo-content span span {
    margin-right: 10px;
    font-size: .8em!important;
}