#topbar_messageBox {
    position: absolute;
    width: 209px;
    height: 300px;
    border: 1px solid black;
    left: 50%;
    top: 175px;
}
.topbar_messageUser {
    width: 209px;
    height: 60px;
    padding: 10px;
    border-bottom: 1px dotted black;
}
.message-img {
    display: inline-block;
    height:100%;
    width:auto;
}
.message-dataBox {
    display: inline-block;
    height: 100%;
    width: 100%;
}
#message-seeall {
    height: 25px !important;
    width: 209px;
    padding: 5px !important;
    text-align: center;
    background-color: #E8E8E8 !important;
    font-size: 10px;
    font-weight: bold;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(128,125,128,0.42);
    -moz-box-shadow: 0px -2px 3px 0px rgba(128,125,128,0.42);
    box-shadow: 0px -2px 3px 0px rgba(128,125,128,0.42);
    border-bottom: 1px solid black !important;
    cursor: pointer;
}