body {
    background-color: rgb(241, 241, 241);
}
input.error {
    color: red;
    border: 2px solid red;
    margin: 0 0 1rem 0;
}
#topBarLogo {
	margin-top: 5px;
	width: 110px;
	height: 45px;
}
#contentArea {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-left:0;
    margin-right:0;
    max-width: initial;
}
#contentArea.contentShow {
	transition: all 0.5s ease;
	padding-right: 0px;
}
#contentArea.contentHide {
	transition: all 0.5s ease;
	padding-right: 225px;
}
#contentRegion {
    padding-top: 25px;
}
#playersRegion {
	position: fixed;
	top: 45px;
	right: 0;
}
#playersRegion.playersShow {
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
	width: 225px;
}
#playersRegion.playersHide {
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
	width: 0px;
}