#chatBox {
	width: 100%;
	border-top: 1px dotted gray;
	border-left: 1px dotted gray;
	height:100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
}
#playerList {
	overflow-y:scroll;
}
.chatHeader {
	color: white;
	padding: 5px;
	font-size: 1em;
	margin-bottom: 10px !important;
	border-bottom: 1px dotted rgb(64,64,64); 
}
.playerTile {
	color: white;
	padding: 10px;
	border-bottom: 1px dotted rgb(64,64,64); 
}
.playerTileStatus{
	float: left;
	display: inline-block;
	margin:1px;
}
.playerName {
	padding-left: 0px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
#playersDisplayButton {
	position: absolute;
	top: 75px;
	left: -35px;
	height: 35px;
	width: 35px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 1px solid gray;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: white;
	z-index: 99;
	cursor: pointer;
}
#playersDisplayButton i {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 1.3em;
}
