<!-- Verify Email Box -->
<div class="row" id="verifyEmailBox">
    <div class="large-12 columns" style="padding: 0 !important">
        <h6 style="color:white;">Verify Email</h6>
        <hr style="margin-top:0 !important;">
        <span style="color:white;font-size:14px;">We need to verify your account via email to continue</span>
        <input id="emailInput" type="text" placeholder="Email" />
        <small id="emailError" class="error">Email does not exist</small>
        <small id="emailSuccess" class="error success">Email sent</small>
        <br>
        <a href="javascript:void(0)" class="button success left radius" id="backLoginButton">Cancel</a>
        <a href="javascript:void(0)" class="button right radius" id="sendEmailButton">Send Email</a>
    </div>
</div>
