<div class="row">
	<div class="large-12 columns">
	  <h3>What is Fort Nitta?</h3>
	</div>
</div>
<div class="row">
	<div class="medium-3 large-3 columns home_aboutColumns">
	  <h4>Play now! ;)</h4>
	  <p>Become a master builder and conquer your enemies in the immersive world of Fort Nitta! Experience intense gameplay and breathtaking graphics as you battle it out against other players! Fort Nitta is an epic game of strategy and skill, where each and every block placement will determine the winner. Experience nonstop, addictive gameplay and the ability to crush your friends in defeat! <br>
	  Unleash your strategic prowess and enter the world of Fort Nitta today to forge your legacy! 
      </p>
	</div>
	<div class="medium-3 large-3 columns home_aboutColumns">
		<h4>Features</h4>
  		<ul>
		  	<li>Multiplayer</li>
		  	<li>Multiplatform Support</li>
		  	<li>Various maps to choose from</li>
		  	<li>Customize your forts with colors!</li>
  		</ul>
	</div>
	<div class="medium-3 large-3 columns home_aboutColumns">
		<h4>Game Info</h4>
		<p>In Fort Nitta, each player is in control of a set of castles. To achieve victory, players must attack other castles while defending their own. To defend against enemy attacks, players are able to rebuild castle walls. 
		</p>
		<p>At the start of battle each player must choose the location of their fort to strategically build their castle around. Players will then place cannons within the castle.
		</p>
	</div>
	<div class="medium-3 large-3 columns home_aboutColumns">
		<h4 style="visibility:hidden;">placeholder</h4>
		<p>Afterwards, the attack round will commence and each player will take turns shooting at other players using the respective cannons. Wind levels could also vary during the attack round, which will affect the accuracy of projectiles 
		</p>
		<p>Damages done during this round will be able to be repaired in the following repair round with a given time limit. Blocks given for repairs are similar to Tetris shapes, and can be moved freely around to build castle walls. Survivors of the repair round will receive additional cannons to continue the battle. 
		</p>
	</div>
</div>