<div class="row" id="verifiedEmailBox">
    <div class="large-12 columns" style="padding: 0 !important">
        <h6 style="color:white;">Email has been verified!</h6>
        <hr style="margin-top:0 !important;">
        <span style="color:white;font-size:14px;">Redirecting to login</span>
        <br>
        <br>
        <small id="verifyError" class="error">Email verification failed, redirecting to Verification Email Resend</small>
        <small id="verifySuccess" class="error success">Email verification successful, redirecting to Login Page</small>
    </div>
</div>