<!-- Sign Up Box -->
<div class="row" id="signupBox">
	<form>
		<div class="large-12 columns" style="padding:0 !important;">
			<div class="row collapse">
				<div class="large-12 columns">
					<input id="firstnameInput" type="text" placeholder="First Name" />
				</div>
			</div>
			<div class="row collapse">
				<div class="large-12 columns">
					<input id="lastnameInput" type="text" placeholder="Last Name" />
				</div>
			</div>
			<div class="row collapse">
				<div class="large-12 columns">
					<input id="usernameInput" type="text" placeholder="Username" />
				</div>
			</div>
			<div class="row collapse">
				<div class="large-12 columns">
					<input id="emailInput" type="text" placeholder="Email" />
				</div>
			</div>
			<div class="row collapse">
				<div class="large-12 columns">
					<input id="passwordInput" type="password" placeholder="Password" />
				</div>
			</div>
			<div class="row collapse">
				<div class="large-12 columns">
					<input id="repasswordInput" type="password" placeholder="Password Again" />
				</div>
			</div>
			<a href="javascript:void(0)" class="button left radius" id="backLoginButton">Back</a>
			<a href="javascript:void(0)" class="button success right radius" id="signupSubmitButton">Submit</a>
		</div>
	</form>
</div>