<!-- Change Password Box -->
<div class="row" id="changePasswordBox">
    <div class="large-12 columns" style="padding: 0 !important">
        <h6 style="color:white;">Enter new password</h6>
        <div class="row collapse">
            <div class="large-2 columns">
                <span class="prefix">
                    <i class="fa fa-lock formIcon"></i>
                </span>
            </div>
            <div class="large-10 columns">
                <input id="passwordInput" type="password" placeholder="Password" />
                <small id="passwordError" class="error">Password is not valid</small>
                <small id="passwordSuccess" class="error success">Password Successfully changed, redirecting to login</small>
            </div>
        </div>
        <div class="row collapse">
            <div class="large-2 columns">
                <span class="prefix">
                    <i class="fa fa-lock formIcon"></i>
                </span>
            </div>
            <div class="large-10 columns">
                <input id="repasswordInput" type="password" placeholder="Re-enter Password" />
                <small id="repasswordError" class="error">Passwords do not match</small>
            </div>
        </div>
        <a href="javascript:void(0)" class="button success left radius" id="backLoginButton">Cancel</a>
        <a href="javascript:void(0)" class="button right radius" id="passwordButton">Submit</a>
    </div>
</div>