<!-- Login Box -->
<div class="row" id="loginBox">
	<div class="large-12 columns" style="padding:0 !important;">
		<div class="row collapse">
			<div class="large-2 columns">
				<span class="prefix">
					<i class="fa fa-user formIcon"></i>
				</span>
			</div>
			<div class="large-10 columns">
				<input id="usernameInput" type="text" placeholder="Username" />
				<small class="error">Invalid Username</small>
			</div>
		</div>
		<div class="row collapse">
			<div class="large-2 columns">
				<span class="prefix">
					<i class="fa fa-lock formIcon"></i>
				</span>
			</div>
			<div class="large-10 columns">
				<input id="passwordInput" type="password" placeholder="Password" />
				<small class="error">Invalid Password</small>
			</div>
		</div>
		<a href="javascript:void(0)" class="button success left radius" id="signupButton">Sign Up</a>
		<a href="javascript:void(0)" class="button right radius" id="loginButton">Login</a>
		<input id="loginInput" type="submit"/>
	</div>
</div>