<!-- Sign Up Box -->
<div class="row" id="signupBox">
	<div class="large-12 columns" style="padding:0 !important;">
		<div class="row collapse">
			<div class="large-12 columns">
				<input id="firstnameInput" name="first_name" type="text" placeholder="First Name" />
				<!-- <small id="firstnameError" class="error">Cannot be blank</small> -->
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<input id="lastnameInput" name="last_name" type="text" placeholder="Last Name" />
				<!-- <small id="lastnameError" class="error">Cannot be blank</small> -->
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<input id="usernameInput" name="username" type="text" placeholder="Username" />
				<!-- <small id="usernameError" class="error">Cannot be blank or contain the following symbols: , ; / \</small> -->
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<input id="emailInput" name="email" type="text" placeholder="Email" />
				<!-- <small id="emailError" class="error">Invalid email</small> -->
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<input id="passwordInput" name="password" type="password" placeholder="Need at least an upper & lowercase letter and an number" />
				<!-- <small id="passwordError" class="error">Invalid Password</small> -->
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<input id="repasswordInput" name="repassword" type="password" placeholder="Password Again" />
				<!-- <small id="repasswordError" class="error">Passwords don't match</small> -->
			</div>
		</div>
		<a href="javascript:void(0)" class="button left radius" id="backLoginButton">Back</a>
		<a href="javascript:void(0)" class="button success right radius" id="signupSubmitButton">Submit</a>
	</div>
</div>