<link rel="stylesheet" type="text/css" href="../../../css/home.css">
<div class="parallax">
	<section id="home_loginSection">
		<div class="row fullWidth collapse">
		  <div class="large-12 columns">
		    <!-- <img id="home-background" src="../../../img/castle-wallpaper-hd.jpg"> -->
		    <!-- Begin container containing login and Signup -->
		    <div class="row" id="loginContainer">
		    	<div class="large-12 columns">
		    		<img id="home-logo" src="../../../img/ECS160_CastleWarsLogoWhite.png">
		    		<hr style="padding-top:0;margin-top:0;"><br>
		    		<div class="row" >
		    			<div class="large-12 columns" id="loginRegion">
		    				Login stuff goes here
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <!-- End container containing login and Signup -->
		  </div>
		</div>
	</section>
	<section id="home_aboutSection">
		<div id="aboutRegion"></div>
	</section>
	<section id="home_screenshotSection">
		<div class="row">
			<div class="large-12 columns">
				<h3 style="color:white;">Track your Progress and join Communities</h3>
			</div>
		</div>
		<div class="row fullWidth collapse">
			<div class="large-12 columns">
				<img id="home_profileScreenshotImg" src="../../../img/FortNitta_ProfileScreenshot.png">
				<img id="home_forumsScreenshotImg" src="../../../img/FortNitta_ForumsScreenshot.png">
			</div>
		</div>
	</section>
	<section id="home_footerSection" style="padding-top:50px;">
		<div class="panel">
			<div class="row">
			  <div class="medium-8 large-8 columns">
			  	© Copyright UC Davis 2015 ECS160 Server Group with Professor Nitta
			  </div>
			</div>
		</div>
	</section>
</div>
