<!-- Forgot Password Box -->
<div class="row" id="forgotPasswordBox">
    <div class="large-12 columns" style="padding:0 !important;">
        <h6 style="color:white;">Reset your password by entering your email</h6>
        <div class="row collapse">
            <div class="large-2 columns">
                <span class="prefix">
                    <i class="fa fa-mail-forward formIcon"></i>
                </span>
            </div>
            <div class="large-10 columns">
                <input id="emailInput" type="text" name="email" placeholder="Please enter an email" />
                <small id="emailSuccess" class="error success">Email successfully sent</small>
            </div>
        </div>
        <a href="javascript:void(0)" class="button success left radius" id="backLoginButton">Back</a>
        <a href="javascript:void(0)" class="button right radius" id="passwordRecButton">Submit</a>
    </div>
</div>