<link rel="stylesheet" type="text/css" href="../../../css/main_topbar.css">
<!-- Begin Top Bar -->
<div class="sticky">
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
        <h1>
            <a href="javascript:void(0)">
                <img id="topBarLogo" src="../../../img/ECS160_CastleWarsLogoWhite.png" />
            </a>
        </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Statistics</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0)">Windows Statistics</a></li>
                        <li><a href="javascript:void(0)">OSX Statistics</a></li>
                        <li><a href="javascript:void(0)">Linux Statistics</a></li>
                        <li><a href="javascript:void(0)">iOS Statistics</a></li>
                        <li><a href="javascript:void(0)">Android Statistics</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Leaderboards</a>
                    <ul class="dropdown">
                        <li><a id="topBarMyProfile" href="javascript:void(0)">My Profile</a></li>
                        <li><a href="javascript:void(0)">Global</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Wiki</a>
                </li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Announcement Updates</a>
                </li>
            </ul>
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)"><i class="fa fa-envelope-o"></i></a>
                    <ul class="dropdown" id="message-dropdown">
                        <li>
                            <img class="message-img" src="../../../img/placeholder-user.png"/>
                            <div class="message-dataBox">
                                <div class="message-name">Bob Doe</div>
                                <div class="message-comment">This is so very cool, dang man, hasdf;ajkd</div>
                                <div class="message-datetime">February 2nd, 2015 1:46PM</div>
                            </div> 
                        </li>
                        <li>
                            <img class="message-img" src="../../../img/placeholder-user.png"/>
                            <div class="message-dataBox">
                                <div class="message-name">Bob Doe</div>
                                <div class="message-comment">This is so very cool, dang man, hasdf;ajkd</div>
                                <div class="message-datetime">February 2nd, 2015 1:46PM</div>
                            </div> 
                        </li>
                        <li>
                            <img class="message-img" src="../../../img/placeholder-user.png"/>
                            <div class="message-dataBox">
                                <div class="message-name">Bob Doe</div>
                                <div class="message-comment">This is so very cool, dang man, hasdf;ajkd</div>
                                <div class="message-datetime">February 2nd, 2015 1:46PM</div>
                            </div> 
                        </li>
                        <li>
                            <img class="message-img" src="../../../img/placeholder-user.png"/>
                            <div class="message-dataBox">
                                <div class="message-name">Bob Doe</div>
                                <div class="message-comment">This is so very cool, dang man, hasdf;ajkd</div>
                                <div class="message-datetime">February 2nd, 2015 1:46PM</div>
                            </div> 
                        </li>
                        <li>
                            <img class="message-img" src="../../../img/placeholder-user.png"/>
                            <div class="message-dataBox">
                                <div class="message-name">Bob Doeperdd</div>
                                <div class="message-comment">This is so very cool, dang man, hasdf;ajkd</div>
                                <div class="message-datetime">February 2nd, 2015 1:46PM</div>
                            </div> 
                        </li>
                    </ul>  
                    <ul class="dropdown under">
                        <li id="message-seeall">See All</li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Download Here</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0)">Windows .exe</a></li>
                        <li><a href="javascript:void(0)">Linux .deb</a></li>
                        <li><a href="javascript:void(0)">OSX .dmg</a></li>
                        <li><a href="javascript:void(0)">iOS .ipa</a></li>
                        <li><a href="javascript:void(0)">Android .apk</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">{{this.first_name}} {{this.last_name}}</a>
                    <ul class="dropdown">
                        <li><a id="topbarSettings" href="javascript:void(0)">Settings</a></li>
                        <li><a href="javascript:void(0)">Feedback & Support</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" id="logoutButton">Log Out</a>
                        </li> <!-- NOT WORKING, HAS TO DO W/ URL ROUTING -->
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
<!-- End Top Bar -->
<div id="myModal" class="reveal-modal" data-reveal>
  <h2>WELCOME TO FORT NITTA</h2>
  <h4 id="modalPlatform"></h4>
  <h5 id="modalDownload"></h5>
  <a class="close-reveal-modal">&#215;</a>
</div>