<!-- Settings page -->
<form>
<div class="large-6">
<!-- Start settings form -->
	<fieldset>
	    <legend><h3>Account Settings</h3></legend>
	    <!-- First name -->
	    <div class="row collapse prefix-radius">
		    <div class="large-3 columns">
		    	<span class="prefix">First name</span>
		    </div>
		    <div class="large-9 columns">
		     	<input type="text" id ="firstnameInput" placeholder="Enter first name">
		    </div>
		</div>

		<!-- Last name -->
		<div class="row collapse prefix-radius">
		    <div class="large-3 columns">
		    	<span class="prefix">Last name</span>
		    </div>
		    <div class="large-9 columns">
		     	<input type="text" id ="lastnameInput" placeholder="Enter last name">
		    </div>	    
		</div>

		<!-- E-mail -->
		<!-- NTS: What to do with old email and new email id? -->
		<div class="row collapse prefix-radius">
		    <div class="large-3 columns">
		    	<span class="prefix">E-mail</span>
		    </div>
		    <div class="large-9 columns">
		    	<div class="row collapse">
			    	<div class="large-10 columns">
			     		<input type="text" id ="emailInput" placeholder="Enter e-mail">
						<!--<small id="emailError" class="error">Invalid email</small>-->
			     	</div>
			     	<!--<div class="large-2 columns">-->
			     	<!--	<a href="#" class="button tiny">Verify</a>-->
			     	<!-- </div> -->
			    </div>
		    </div>
		</div>

		<!-- Password change-->
		<!-- NTS: what to do with id for old and new pw? -->
		<h5>Change Password</h5>
		<div class="row collapse prefix-radius">
		    <div class="large-3 columns">
		    	<span class="prefix">Old Password</span>
		    </div>
		    <div class="large-9 columns">
		     	<input type="password" id ="passwordInputOld" placeholder="Enter old password">
		    </div>	    
		</div>

		<div class="row collapse prefix-radius">
		    <div class="large-3 columns">
		    	<span class="prefix">New Password</span>
		    </div>
		    <div class="large-9 columns">
		     	<input type="password" id ="passwordInput" placeholder="Enter new password">
		    </div>	    
		</div>	

		<div class="row collapse prefix-radius">
		    <div class="large-3 columns">
		    	<span class="prefix">Re-enter Password</span>
		    </div>
		    <div class="large-9 columns">
		     	<input type="password" id ="repasswordInput" placeholder="Re-enter new password">
				<!--<small id="repasswordError" class="error">Passwords do not match</small>-->
		    </div>	    
		</div>


		<!-- Avatar change -->
		<h5>Change Avatar</h5>
            <img id="profilePicture" class="profile-image" src="../../../img/placeholder-user.png" />
            <input id="profilePictureChangeInput" type="file" accept="image/*" name="imageInput"/>
	</fieldset>
<!-- End settings form -->

<!-- Buttons -->
<div class="row collapse">
	<div class="large-6 columns">
			<a href="javascript:void(0)" id="settingsSubmitButton" class="button expand success">Submit</a>
	</div>
	<div class="large-6 columns">
			<a href="javascript:void(0)" id="settingsCancelButton" class="button expand secondary">Cancel</a>
	</div>
</div>

</div>
<div class="large-6">
</div>
</form>
<!-- End Settings Page -->