<link rel="stylesheet" type="text/css" href="../../../css/main_adminsidebar.css">
<div class="row">
    <div class="large-12 columns" style="padding:0;">
        <ul class="custom_accordion">
            <li id="adminglobalannouncements" class="active">
                <i class="fa fa-newspaper-o"></i>
                <span>Global Announcements</span>
            </li>
            <li id="admintodo">
                <i class="fa fa-th-list"></i>
                <span>To Do</span>
            </li>
        </ul>
    </div>
</div>