<div class="row forumsPostsCreateBox">
    <h1 class="forumsPostsCreate-Header">Create a new Post</h1>
    <hr>
    <div class="large-12 columns">
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Subject</span>
            </div>
            <div class="large-9 columns">
                <input type="text" placeholder="Enter Post subject">
            </div>
        </div>
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Body</span>
            </div>
            <div class="large-9 columns">
                <textarea id="forumsPostsCreate-textarea" type="text" placeholder="Enter Post body" maxlength="1024"></textarea>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="large-12 columns">
                <a href="javascript:void(0)" id="forumsPostsCreate-buttonSubmit" class="button right success">Submit</a>
                <a href="javascript:void(0)" id="forumsPostsCreate-buttonCancel" class="button right secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
