<div class="row forumsPostsBox">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-10 columns">
                <h3 id="forumsPosts-header" style="display:inline-block;margin-right:30px;">Header</h3>
            </div>
            <div class="large-2 columns">
                <a id="forumsPosts-reply" class="button small" style="display:inline-block;margin-left:30px;">
                    Reply
                </a>
            </div>
        </div>           
        <hr>
        <table id="postsTable">
            <thead>
                <tr>
                    <th>Title/Thread Starter</th>
                </tr>
            </thead>
            <tbody id="forumsPostsTileContainer">
                {{#each []}}
                    {{#ifevenodd this.id}}
                    <tr class="odd">
                    {{else}}
                    <tr class="even">
                    {{/ifevenodd}} 
                        <td>
                            <div class="row forumsPostsTile" data-id="{{this.id}}">
                                <div class="forumsPostsTile-Header">
                                    <div class="forumsPostsTile-dateCreated">{{this.date_created}}</div>
                                    <div class="forumsPostsTile-counter">#1</div>
                                </div>
                                <div class="large-2 columns">
                                    <div class="forumsPostsTile-name">{{this.username}}</div>
                                    <div class="forumsPostsTile-img"><img src="../../../img/placeholder-user.png"></div>
                                </div>
                                <div class="large-10 columns">
                                    <div class="forumsPostsTile-message">{{this.message}}</div>  
                                        {{#if this.user_inLikes}}
                                        <a href="javascript:void(0)" class="button tiny secondary forumsPostsTile-likeButton">
                                            <i class="fa fa-thumbs-up"></i>
                                            {{else}}
                                            <a href="javascript:void(0)" class="button tiny default forumsPostsTile-likeButton">
                                            <i class="fa fa-thumbs-o-up"></i>
                                            {{/if}}
                                            &nbsp;Likes (<span>{{this.likes_Count}}</span>)
                                        </a>
                                    <div class="slick-imageContainer">
                                        <div class="slick-images">
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                            <div><img src="../../../img/placeholder-user.png"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>