<div class="row forumsThreadBox">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-10 columns">
                <h3 id="forumsThread-header" style="display:inline-block;margin-right:30px;">Header</h3>
                <h5 style="display:inline-block;">Threads</h5>
            </div>
            <div class="large-2 columns">
                <a id="forumsThread-newThread" class="button small" style="display:inline-block;margin-left:30px;">
                    Create Thread
                </a>
            </div>
        </div>           
        <hr>
        <table id="threadTable">
            <thead>
                <tr>
                    <th>Title/Thread Starter</th>
                    <th>Replies/Views</th>
                    <th>Last Post By</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd forumsThreadTile">
                    <td class="forumsThreadTile-Info"> 
                        <i class="fa fa-envelope-o forumsThread-icon"></i>
                        <div class="forumsThreadSubject">
                            <div class="forumsThreadSubject-title">TESTING</div>
                            <div class="forumsThreadSubject-creator">Started by user, 08-08-1292</div>
                        </div>
                    </td>
                    <td>
                        <div class="forumsThread-Replies">Replies:</div>
                        <div class="forumsThread-Views">Views:</div>
                    </td>
                    <td>
                        <div class="forumsThread-LastPost"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>