<link rel="stylesheet" type="text/css" href="../../../css/main_messagessidebar.css">

<div class="row collapse main_messages-searchbar">
    <div class="large-10 columns">
        <input id="main_messages-search-input" type="text" placeholder="Find by Username">
    </div>
    <div class="large-2 columns">
        <a id="main_messages-new-message" href="javascript:void(0)" class="button tiny success"><i class="fa fa-plus"></i></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <ul class="custom_accordion">
            <!-- <li class="main_messages-user active">
                <img class="main_messages-img" src="../../../img/placeholder-user.png"/>
                <div class="main_messages-dataBox">
                    <div class="main_messages-username">Bob_Doe123</div>
                    <div class="main_messages-name">Bob Doe</div>
                </div> 
            </li>
            <li class="main_messages-user">
                <img class="main_messages-img" src="../../../img/placeholder-user.png"/>
                <div class="main_messages-dataBox">
                    <div class="main_messages-username">Test123</div>
                    <div class="main_messages-name">Test Tester</div>
                </div> 
            </li> -->
        </ul>
    </div>
</div>