<div id="main_pageLoad">
    <div id="main_pageLoadContainer">
        <div class="row">
            <div class="large-12 columns" style="text-align:center;">
                <img id="main_pageLoadImg" src="../../../img/FortNitta_Logo2.png">
                <br><br>
                <h5>Loading Main Page</h5>
                <div class="progress">
                    <span id="main_pageLoadMeter" class="meter" style="width:0;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="topbarRegion"></div>
<div id="contentArea" class="row contentShow" >
    <div class="large-12 columns" id="contentRegion">
        Content here
    </div>
</div>
<div id="playersRegion" class="playersHide">
    Players shown here
</div>