<link rel="stylesheet" type="text/css" href="../../../css/main_leaderboards.css">
<!-- Main Page Content and Sidebar -->
<div class="row content">
    <div class="large-3 columns twoway-dividedBox twoway-dividedSideBar">
        
    </div>
    <div class="large-9 columns twoway-dividedBox twoway-dividedContent">
        <h1>Global Leaderboards</h1>  
        <hr>   
        <table cellpadding="0" cellspacing="0" border="0" id="leaderboardsTable">
            <thead>
                <tr>
                    <!-- TH headers for table here -->
                </tr>
            </thead>
            <tbody>
                <!-- TD data for table here, -->
            </tbody>
        </table>
    </div>
</div>
<!-- End Main Content and Sidebar -->