<div class="row forumsThreadCreateBox">
    <h1 class="forumsThreadCreate-Header">Create a new Thread</h1>
    <hr>
    <div class="large-12 columns">
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Subject</span>
            </div>
            <div class="large-9 columns">
                <input type="text" placeholder="Enter thread subject">
            </div>
        </div>
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Body</span>
            </div>
            <div class="large-9 columns">
                <textarea id="forumsThreadCreate-textarea" type="text" placeholder="Enter thread body" maxlength="1024"></textarea>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="large-12 columns">
                <a href="javascript:void(0)" id="forumsThreadCreate-buttonSubmit" class="button right success">Submit</a>
                <a href="javascript:void(0)" id="forumsThreadCreate-buttonCancel" class="button right secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
