<link rel="stylesheet" type="text/css" href="../../../css/main_profile.css">
<!-- Main Page Content and Sidebar -->
<div class="row content">
    <div class="large-3 columns profileBox" id="profileInfo">
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <img id="profilePicture" class="profile-image" src="../../../img/placeholder-user.png" />
                <a href="javascript:void(0)" class="button radius" id="profilePictureChange">Change Picture</a>
                <input id="profilePictureChangeInput" type="file" accept="image/*" name="imageInput"/>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <i class="fa fa-info profileInfo-icon"></i>
                <span class="profileInfo-header">&nbsp;&nbsp;INFORMATION </span>
                <div class="profileInfo-content">
                    <span><span>User:&nbsp;&nbsp;&nbsp;</span>{{this.username}}</span>
                    <span><span>Email:&nbsp;&nbsp;</span>{{this.email}}</span>
                    <span><span>Joined:</span>{{this.date_joined}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <i class="fa fa-level-up profileInfo-icon"></i>
                <span class="profileInfo-header">&nbsp;LEVEL PROGRESS</span>
                <div class="profileInfo-content">
                    <div class="progress">
                        <span class="meter" style="width: 45%;"></span>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <i class="fa fa-star profileInfo-icon"></i>
                <span class="profileInfo-header">ACCOLADES AND ACHIEVEMENTS</span>
                <div class="profileInfo-content">
                    
                </div>
            </div>
        </div>   
    </div>
    <div class="large-9 columns profileBox" id="profileContent">
        <h1>Statistics</h1>  
        <hr>   
        <table cellpadding="0" cellspacing="0" border="0" id="profileTable">
            <thead>
                <tr>
                    <th>Game Number</th>
                    <th>Win or Loss</th>
                    <th>Accuracy</th>
                    <th>Damage Done</th>
                    <th>Players in Game</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td>1</td>
                    <td>Win</td>
                    <td>0.95</td>
                    <td>231</td>
                    <td>2</td>
                </tr>
                <tr class="even">
                    <td>2</td>
                    <td>Win</td>
                    <td>0.99</td>
                    <td>66</td>
                    <td>10</td>
                </tr>
                <tr class="odd">
                    <td>3</td>
                    <td>Win</td>
                    <td>0.64</td>
                    <td>234</td>
                    <td>4</td>
                </tr>
                <tr class="even">
                    <td>4</td>
                    <td>Loss</td>
                    <td>0.74</td>
                    <td>453</td>
                    <td>4</td>
                </tr>
                <tr class="odd">
                    <td>5</td>
                    <td>Loss</td>
                    <td>0.34</td>
                    <td>63</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End Main Content and Sidebar -->