<div class="row forumsMainBox">
    <h5>Central Community</h5>
    <div class="large-12 columns">
        <div class="row forumsMainRow" id="ccIntroductions">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-comments-o forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">Introductions</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
        <div class="row forumsMainRow" id="ccGeneralNewsDiscussion">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-newspaper-o forumsMainSubject-icon" style="margin-right: 22px;"></i>
                <div class="forumsMainSubject-text">General News & Discussion</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
        <div class="row forumsMainRow" id="ccGeneralHelpHowTo">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-life-buoy forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">General Help & How To</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
    </div>
</div>
<div class="row forumsMainBox">
    <h5>Platforms</h5>
    <div class="large-12 columns">
         <div class="row forumsMainRow" id="platformAndroid">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-android forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">Android</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
         <div class="row forumsMainRow" id="platformiOSOSX">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-apple forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">iOS and OSX</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
         <div class="row forumsMainRow" id="platformLinux">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-linux forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">Linux</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
         <div class="row forumsMainRow" id="platformWindows">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-windows forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">Windows</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
    </div>
</div>
<div class="row forumsMainBox">
    <h5>Mapping and Modding</h5>
    <div class="large-12 columns">
        <div class="row forumsMainRow">
            <div class="large-6 columns forumsMainSubject">
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
    </div>
</div>
<div class="row forumsMainBox">
    <h5>Support</h5>
    <div class="large-12 columns">
        <div class="row forumsMainRow" id="supportUserAccounts">
            <div class="large-6 columns forumsMainSubject">
                <i class="fa fa-user forumsMainSubject-icon"></i>
                <div class="forumsMainSubject-text">User Accounts</div>
            </div>
            <div class="large-3 columns forumsMainCountInfo">
                <div>Threads:</div>
                <div>Posts:</div>           
            </div>
            <div class="large-3 columns forumsMainRecent">
            </div>
        </div>
    </div>
</div>
