<!-- Announcements begin -->
<link rel="stylesheet" type="text/css" href="../../../css/main_announcements.css">

<div class="row">
	<div class="large-9 columns" id="top-header">
		<h1>Announcements</h1>
	</div>
</div>

<div class="row">

    <div class="large-9 columns" id="announcement">

        <article class="announcement-inner">
 
	        <h3 class="announcement-header">Newest Updates to Website</h3>
	        <h6 class="announcement-sub">Written by <b>Fort Nitta Server Team</b> on March 2, 2015.</h6>

	        <div class="row announcement-content">
	          <div class="large-12 columns">
	            <p>
	            	<ul>
	            		<li>This announcements page!</li>
	            		<li>Added leaderboards</li>
	            	</ul>
	            </p>
	          </div>
	        </div>
 
        </article>
 
        <article class="announcement-inner">
 
	        <h3 class="announcement-header">Welcome to Fort Nitta!</h3>
	        <h6 class="announcement-sub">Written by <b>Fort Nitta Server Team</b> on March 2, 2015.</h6>

	        <div class="row announcement-content">
	          <div class="large-12 columns">
	            <p>Future announcements for website and game updates will be posted here!</p>
	          </div>
	        </div>
 
        </article>
 
    </div>
</div>

<!-- End Announcements -->