<link rel="stylesheet" type="text/css" href="../../../css/main_leaderboards.css">
<!-- Main Page Content and Sidebar -->
<div class="row content">
    <div class="large-3 columns twoway-dividedBox twoway-dividedSideBar">
        
    </div>
    <div class="large-9 columns twoway-dividedBox twoway-dividedContent">
        <h1>Global Leaderboards</h1>  
        <hr>   
        <table cellpadding="0" cellspacing="0" border="0" id="leaderboardsTable">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Win-Loss %</th>
                    <th>Total Wins</th>
                </tr>
            </thead>
            <tbody>
                    {{#each []}}
                    <tr>
                        <td>{{this.rank}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.win_percent}}</td>
                        <td>{{this.num_wins}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- End Main Content and Sidebar -->