<!-- Announcements begin -->
<link rel="stylesheet" type="text/css" href="../../../css/main_announcements.css">

<div class="row">
	<div class="large-9 columns" id="top-header">
		<h1>Announcements</h1>
	</div>
</div>

<div class="row">

    <div class="large-9 columns" id="announcement">
        {{#each []}}
        <article class="announcement-inner">
	        <h3 class="announcement-header">{{this.subject}}</h3>
	        <h6 class="announcement-sub">Written by <b>{{this.posted_by}}</b> on {{this.date_created}}.</h6>
	        <div class="row announcement-content">
	          <div class="large-12 columns">
	            <p>
	            	<ul>
                        {{#each posts}}
    	            		<li>{{this.message}}</li>
                        {{/each}}
	            	</ul>
	            </p>
	          </div>
	        </div>
        </article>
        {{/each}}
    </div>
</div>

<!-- End Announcements -->