<link rel="stylesheet" type="text/css" href="../../../css/players.css">
<!-- Begin Chat Box -->
<div class="row" id="chatBox">
    <div class="large-12 columns">
        <div class="row chatHeader">
            <div class="large-12 columns">
            2 PLAYERS ONLINE
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" id="playerList">
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-linux playerTileStatus"></i>
                        <i class="fa fa-windows playerTileStatus"></i>
                        <i class="fa fa-apple playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Kelvin Lu
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-android playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Evan Chen
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-globe playerTileStatus"></i>
                        <i class="fa fa-apple playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Minh Le
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-apple playerTileStatus"></i>
                        <i class="fa fa-globe playerTileStatus"></i>
                        <i class="fa fa-linux playerTileStatus"></i>
                        <i class="fa fa-android playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Himali Raj.
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-android playerTileStatus"></i>
                        <i class="fa fa-apple playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Eric Ouyang
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-apple playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Robin Na
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-windows playerTileStatus"></i>
                        <i class="fa fa-linux playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Ashton Yon
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-linux playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Michelle Nguyen
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-windows playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Giovanni Tenorio
                    </div>
                </div>
                <div class="row playerTile">
                    <div class="large-4 columns">
                        <i class="fa fa-globe playerTileStatus"></i>
                    </div>
                    <div class="large-8 columns playerName">
                        Kevin Fu
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
<!-- End Chat Box -->
<div id="playersDisplayButton" class="playersDisplayHidden">
    <i class="fa fa-users"></i>
</div>
