<link rel="stylesheet" type="text/css" href="../../../css/main_topbar.css">
<!-- Begin Top Bar -->
<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1>
                    <a href="javascript:void(0)">
                        <img id="topBarLogo" src="../../../img/ECS160_CastleWarsLogoWhite.png" />
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <!-- <li class="has-dropdown">
                    <a href="javascript:void(0)">Statistics</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0)">Windows Statistics</a></li>
                        <li><a href="javascript:void(0)">OSX Statistics</a></li>
                        <li><a href="javascript:void(0)">Linux Statistics</a></li>
                        <li><a href="javascript:void(0)">iOS Statistics</a></li>
                        <li><a href="javascript:void(0)">Android Statistics</a></li>
                    </ul>
                </li> -->
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Announcement Updates</a>
                </li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Leaderboards</a>
                    <ul class="dropdown">
                        <li><a id="topbar_profileButton" href="javascript:void(0)">My Profile</a></li>
                        <li><a href="javascript:void(0)">Global</a></li>
                    </ul>
                </li>
                <li class="name">
                    <a id="topbar_forumsButton" href="javascript:void(0)">Forums</a>
                </li>
            </ul>
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="divider"></li>
                <li id="topbar_messageButton">
                    <a href="javascript:void(0)">
                        <div style="position:relative;">
                            <i id="topbar_messageCounterIcon" class="fa fa-circle">
                                <div id="topbar_messageCounterText">{{this.messageCount}}</div>
                            </i>
                            <i class="fa fa-envelope-o" style="font-size:1.5em;"></i>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Download Here</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0)">Windows .exe</a></li>
                        <li><a href="javascript:void(0)">Linux .deb</a></li>
                        <li><a href="javascript:void(0)">OSX .dmg</a></li>
                        <li><a href="javascript:void(0)">iOS .ipa</a></li>
                        <li><a href="javascript:void(0)">Android .apk</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">{{this.first_name}} {{this.last_name}}</a>
                    <ul class="dropdown">
                        <li><a id="topbar_settingsButton" href="javascript:void(0)">Settings</a></li>
                        <li><a href="javascript:void(0)">Feedback & Support</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" id="logoutButton">Log Out</a>
                        </li> <!-- NOT WORKING, HAS TO DO W/ URL ROUTING -->
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
<!-- End Top Bar -->
<!-- <div id="myModal" class="reveal-modal" data-reveal>
  <h2>WELCOME TO FORT NITTA</h2>
  <h4 id="modalPlatform"></h4>
  <h5 id="modalDownload"></h5>
  <a class="close-reveal-modal">&#215;</a>
</div> -->

<!-- Message Box -->
<div id="topbar_messageContainer">
    <div id="topbar_messageList">
        {{#each []}}
            <div class="topbar_messageUser">
                <img class="message-img" src="../../../img/placeholder-user.png"/>
                <div class="message-dataBox">
                    <div class="message-name">{{this.firstname}}&nbsp;{{this.lastname}}</div>
                    <div class="message-comment">{{this.message}}</div>
                    <div class="message-datetime">{{this.message_created}}</div>
                </div> 
            </div>
        {{/each}}
    </div>  
    <div id="topbar_message-seeall">
        See All
    </div>
</div>
