<!-- Settings page -->
<fieldset id="settingsBox">
<div class="row">
	<div class="small-8 columns">
		
	    <h3>Email and Notification Settings</h3>
	    <!-- First name -->
	    <div class="row collapse prefix-radius">
	    	<p1>How often would you like to receive email notifications?</p1>
		    	<select id="notificationSelect">
		    		<option value= "immediate">immediate</option>
                    <option value= "1-hour">1-hour</option>
		    		<option value= "2-hour">2-hour</option>
		    		<option value= "4-hour">4-hour</option>
		    		<option value= "12-hour">12-hour</option>
		    		<option value= "24-hour">24-hour</option>
		    	</select>
		</div>
</div>
</fieldset>
<!-- Buttons -->
<div class="row collapse">
	<div class="large-12 columns">
        <a href="javascript:void(0)" id="settingsSubmitButton" class="button right success">Submit</a>
        <a href="javascript:void(0)" id="settingsCancelButton" class="button right secondary">Cancel</a>
	</div>
</div>
<!-- End Settings Page -->
