<link rel="stylesheet" type="text/css" href="../../../css/main_profile.css">
<!-- Main Page Content and Sidebar -->
<div class="row content">
    <div class="large-3 columns twoway-dividedBox" id="profileInfo">
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <img id="profilePicture" class="profile-image" src="{{this.user_info.avatar_path}}" />
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <i class="fa fa-info profileInfo-icon"></i>
                <span class="profileInfo-header">&nbsp;&nbsp;INFORMATION </span>
                <div class="profileInfo-content">
                    <span><span>User:&nbsp;&nbsp;&nbsp;</span>{{this.user_info.username}}</span>
                    <span><span>Email:&nbsp;&nbsp;</span>{{this.user_info.email}}</span>
                    <span><span>Joined:</span>{{this.user_info.date_joined}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns profileInfo-inner">
                <i class="fa fa-level-up profileInfo-icon"></i>
                <span class="profileInfo-header">&nbsp;WIN RATIO</span>
                <div class="profileInfo-content">
                    <div class="win-ratio">
                        <span id="win_loss_ratio"></span>
                        <div class="progress">
                            <span id="win_loss_ratio_meter" class="meter" style="width: 0%;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="large-9 columns twoway-dividedBox" id="profileContent">
        <h1>Statistics</h1>  
        <hr>   
        <table cellpadding="0" cellspacing="0" border="0" id="profileTable">
            <thead>
                <tr>
                    <th>Game Number</th>
                    <th>Win or Loss</th>
                    <th>Cannons Placed</th>
                    <th>Shots Fired</th>
                    <th>Walls Placed</th>
                    <th>Players in Game</th>
                </tr>
            </thead>
            <tbody>
                {{#each []}}
                    {{#ifevenodd this.id}}
                    <tr class="odd" data-id="{{this.id}}">
                    {{else}}
                    <tr class="even" data-id="{{this.id}}">
                    {{/ifevenodd}}
                        <td>{{this.id}}</td>
                        {{#ifwinner this.user_id this.winner_id}}
                        <td>Win</td>
                        {{else}}
                        <td>Loss</td>
                        {{/ifwinner}}
                        <td>{{this.numCannons}}</td>
                        <td>{{this.numFires}}</td>
                        <td>{{this.numWalls}}</td>
                        <td>{{this.num_players}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- End Main Content and Sidebar -->