<link rel="stylesheet" type="text/css" href="../../../css/main_messagebox.css">
<!-- Main Page Content and Sidebar -->
<div class="row">
    <div class="large-12 columns">
        <div id="messages-chatNameDisplay"></div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns" id="messageschatRegion">
    </div>
</div>
<div class="row collapse">
    <div class="large-11 columns">
        <textarea id="messages-chatInput" type="text" maxlength="512"></textarea>
    </div>
    <div class="large-1 columns">
        <a id="messages-chatSubmit" class="button small"><i class="fa fa-comment"></i></a>
    </div>
</div>
<!-- End Main Content and Sidebar -->