<div class="row">
    <h1 >Create a new Global Announcement</h1>
    <hr>
    <div class="large-12 columns">
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Announcement Subject</span>
            </div>
            <div class="large-9 columns">
                <textarea id="globalannouncementssubject" name="subject" type="text" placeholder="Enter Announcement title" maxlength="512"></textarea>
            </div>
        </div>
        <br><br>
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Posted By</span>
            </div>
            <div class="large-9 columns">
                <input id="globalannouncementpostedby" type="text" placeholder="Enter posted by">
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="large-12 columns">
                <a href="javascript:void(0)" id="globalannouncements-buttonSubmit" class="button right success">Submit</a>
                <a href="javascript:void(0)" id="globalannouncements-buttonCancel" class="button right secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
