<div class="row">
    <h1 >Create a new Global Announcement Post</h1>
    <hr>
    <div class="large-12 columns">
        <div class="row collapse prefix-radius">
            <div class="large-3 columns">
                <span class="prefix">Announcement Post Subject</span>
            </div>
            <div class="large-9 columns">
                <textarea id="globalannouncementspostmessage" name="message" type="text" placeholder="Enter Announcement Message" maxlength="512"></textarea>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="large-12 columns">
                <a href="javascript:void(0)" id="globalannouncementspost-buttonSubmit" class="button right success">Submit</a>
                <a href="javascript:void(0)" id="globalannouncementspost-buttonCancel" class="button right secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
