<img class="messages-loader" src="../../../img/ajax-loader_bar.gif"/>
<div id="messages-userContainer">
    {{#each []}}
        <div class="row userMessageBox">
            <div class="large-1 columns">
                <img class="userMessageBox-img" src="../../../img/placeholder-user.png"/>
            </div>
            <div class="large-11 columns">
                <div class="userMessageBox-username">{{this.from_username}}</div>
                <div class="userMessageBox-name">{{this.from_firstname}}&nbsp;{{this.from_lastname}}</div>
                <div class="userMessageBox-datetime">{{this.message_created}}</div>
                <div class="userMessageBox-comment">{{this.message}}</div>
            </div>
        </div>
    {{/each}}
</div>